<div class="container my-3">
    <div class="row">
        <h3 style="display: flex; justify-content: center; margin-bottom: 15px;"> Star Wars Characters </h3>
        <table class="table text-center align-middle">
            <tr class= "text-light" style="background-color: #282A3A;">
                <th scope="col">Name</th>
                <th scope="col">Height</th>
                <th scope="col">Weight</th>
                <th scope="col">Gender</th>
                <th scope="col">Birth Year</th>
            </tr>
            <tbody class="table-group-divider">
                <% @people["results"].each do |person| %>
                <tr class="display-7"> 
                    <td><%= person["name"].upcase %></td> 
                    <td><%= person["height"].upcase %></td> 
                    <td><%= person["mass"].upcase %></td> 
                    <td><%= person["gender"].upcase %></td> 
                    <td><%= person["birth_year"].upcase %></td>                                                                                                                                                                                   </td> 
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

